<div class="row">
                <div class="form-group1">
                    <input style="text-align:center" type="text" class="form-control" id="exampleInputPassword1" placeholder="" [(ngModel)]="input[0]" maxlength="1" (keyup)="onKeyUpEvent($event, 1)" (focus)="onFocusEvent(1)" (keypress)="keypress($event)" #input1 />
                </div>
                <div class="form-group1">
                    <input style="text-align:center" type="text" class="form-control" id="exampleInputPassword1" placeholder="" [(ngModel)]="input[1]" maxlength="1" (keyup)="onKeyUpEvent($event, 2)" (focus)="onFocusEvent(2)" (keypress)="keypress($event)" #input2 />
                </div>
                <div class="form-group1">
                    <input style="text-align:center" type="text" class="form-control" id="exampleInputPassword1" placeholder="" [(ngModel)]="input[2]" maxlength="1" (keyup)="onKeyUpEvent($event, 3)" (focus)="onFocusEvent(3)" (keypress)="keypress($event)" #input3 />
                </div>
                <div class="form-group1">
                    <input style="text-align:center" type="text" class="form-control" id="exampleInputPassword1" placeholder="" [(ngModel)]="input[3]" maxlength="1" (keyup)="onKeyUpEvent($event, 4)" (focus)="onFocusEvent(4)" (keypress)="keypress($event)" #input4 />
                </div>
            </div>