 <div class="box-body">
          <table class="table">
            <body class="body">
            <tr>
              <td id="td-des">First Name :</td>
              <td id="td-data">{{ global.user.firstName }}</td>
            </tr>
            <tr>
              <td id="td-des">Last Name :</td>
              <td id="td-data">{{global.user.lastName}}</td>
            </tr>
            <tr>
              <td id="td-des">Image :</td>
              <td id="td-data"><img  id='imageUrl' class="img-responsive" src="{{global.user.image}}" alt="profile picture" style="width: 220px;height: 220px;border-radius: 50%"></td>
            </tr>
            <tr>
              <td id="td-des">Mobile :</td>
              <td id="td-data">{{ global.user.phone }}</td>
            </tr>
            <tr>
              <td id="td-des">Email :</td>
              <td id="td-data">{{global.user.email}}</td>
            </tr>
            <tr>
              <td id="td-des">Description :</td>
              <td id="td-data">{{ global.user.description }}</td>
            </tr>
            <tr>
              <td id="td-des">Address :</td>
              <td id="td-data">{{global.user.address}}</td>
            </tr>
            <tr>
              <td id="td-des">Status :</td>
              <td id="td-data">Active</td>
            </tr>
           </body>
          </table>
  </div>