.phone{
	width: 100%
}

.mobile-label{
	margin-right: 10px;
}

.d-flex{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.btn-blue{
	background-color: blue;
	color:white;
	font-size: 15px;
}